h5 {
    text-align: left;
    /* margin: auto; */
    width: 50%;
    background-color: transparent;
    color: darkslategrey;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    background: transparent;
  }
.dash {
    background: transparent;
}
.line {
    
    background: transparent;
  }
.post {
  background: transparent;
  background-color: white;
  border-radius: 12px;
  border-collapse: black;
  border-style: solid;
  border-color: teal;
}
user {
  font-size: 20px;
  /* font-weight: 10px; */
}
date {
font-size: 15px;
}
.rounded {
  border-radius: 12px;
}