.page1 {
    color: white;
}

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

/* full-sized  container that fills up the page */
div {
  height: 100%;
  width: 100%;

  /* example padding, font-size, background, etc */
  padding: 10px;
  font-size: 20px;
  background: linear-gradient(45deg, rgba(73,190,221,100) 12%, rgba(95,210,199,100) 61%, rgba(146,218,188,100) 91%);
}

.center {
    padding: 200px 0;
    text-align: center;
  }